<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#3f1347;">
	<div class="container">
		<a class="navbar-brand" href="https://3d.bk.tudelft.nl"><img class="tud-logo" src="{{ site.baseurl }}/img/3dgeoinfo.png" /></a>
		<a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	  	<ul class="navbar-nav me-auto">
	  		{% for p in site.nav %}
					
	  			{% if p.subnav %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle me-md-2" href="#" data-bs-toggle="dropdown">{{ p.name }}</a>
							<div class="dropdown-menu dropdown-menu-end">
								{% for sp in p.subnav %}	
									{% if sp.path contains "http" %}
										<a class="dropdown-item" href="{{ sp.path }}">{{ sp.name}}</a>
									{% else %}
										<a class="dropdown-item" href="{{ site.baseurl}}/{{ sp.path }}">{{ sp.name}}</a>
									{% endif %}		
								{% endfor %}	
							</div>
						</li>
	  				
	  			{% else %}
						<li class="nav-item">
							{% if p.path contains "http" %}
								<a class="nav-link" href="{{ p.path }}">{{ p.name }}</a>
							{% else %}
								<a class="nav-link" href="{{ site.baseurl}}/{{ p.path }}">{{ p.name }}</a>
							{% endif %}
						</li>
	  			{% endif %}
			{% endfor %}
	  	</ul>
	  	<ul class="navbar-nav">
	  		<li class="nav-item">
	  			<button class="nav-link" onclick="toggleTheme()" title="Toggle dark mode" style="background:none;border:none">
	  				<i id="theme-icon" class="fas fa-moon"></i>
	  			</button>
	  		</li>
	  	</ul>
	  </div>
	</div>
</nav>
